@model Garage20.Models.ParkedVehicle
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
  
    <p class="lead">Välkommen till Park-a-Lot, ange fordonsinformation för att starta parkeringen.</p>
    <h1>PARK-a-LOT</h1>

</div>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            <span class="glyphicon glyphicon-align-center glyphicon-map-marker"></span>
            <h2>Incheckning</h2>
            <p>Checka in ditt fordon här</p>
            <p><a class="btn btn-default" href="@Url.Action("Create", "ParkedVehicles")"> Checka in &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center ">
            <span class="glyphicon glyphicon-align-center glyphicon-credit-card"></span>
            <h2>Utcheckning</h2>
            <p>Checka ut här</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "ParkedVehicles")"> Checka ut &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center ">
            <span class="glyphicon glyphicon-align-center glyphicon-search "></span>
            <h2>Sök fordon</h2>
            <p>Sök på parkerade fordon</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "ParkedVehicles")"> Sök &raquo;</a></p>
        </div>
    </div>
    <hr />
    <div class="row rowPadding">
        <div class="col-xs-12 col-sm-12">
            <h2>Om Park-a-lot</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus</p>
          
        </div>
        <div class="col-xs-12 col-sm-12 text-center ">
       
                <h2>Kontakta oss</h2>
                <address>
                    <strong>Park-a-lot</strong>
                    <br>Årstaängsvägen 33
                    <br>112 12 Stockholm
                    <br>
                </address>
                <address>
                    <abbr title="Phone">Tel:</abbr>08- 12 34 56
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">kontakt@parkalot.se</a>
                </address>
      
        </div>
    </div>




</div>


