@model Garage20.Models.ParkedVehicle
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PARK-a-LOT</h1>
    <p class="lead">Välkommen till Park-a-Lot, ange fordonsinformation för att starta parkeringen.</p>
    
</div>

<div class="row">
        <div class="col-md-12">
            @Html.Partial("_CheckIn")
        </div>
        <div class="col-md-12">
            <h2>Sökning</h2>
            <p>
                Här kan du söka på incheckade fordon.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>

    </div>